/* ******************** */
/* MAIN-CONTAINER */
/* ******************** */
.mainContainer {
  padding: 5.6rem;
  background-color: rgb(15, 75, 75);
  font-family: var(--secondary-font);
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******************** */
/* CARD-CONTAINER */
/* ******************** */
.cardContainer {
  height: 60rem;
  width: 45rem;
  perspective: 100rem;
}

/* ******************** */
/* CARD */
/* ******************** */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

/* ******************** */
/* CARD-FRONT */
/* ******************** */
.cardFront {
  padding: 1.2rem;
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border: 1rem solid #6A2C70;
  border-radius: 1rem;
  justify-content: center;
  font-size: 2.4rem;
  transform: rotateY(0deg);
}

/* ******************** */
/* IMAGE-CONTAINER */
/* ******************** */
.imgContain {
  height: 42.4rem;
  width: 42.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img {
  height: 90%;
  width: 90%;

  object-fit: contain;
}

/* ******************** */
/* CARD-FRONT CONTENT */
/* ******************** */
.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.type {
  display: flex;
  gap: 2.2rem;
}

/* ******************** */
/* CARD-BACK */
/* ******************** */
.cardBack {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border: 1rem solid #F08A5D;
  border-radius: 1rem;
  justify-content: center;
  font-size: 2.4rem;
  transform: rotateY(180deg);
}

/* ******************** */
/* CARD-ROTATE */
/* ******************** */
.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}