/* ******************** */
/* SEARCH-BOX */
/* ******************** */
.body {
  padding: 6.4rem;
  background-color: antiquewhite;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

/* ******************** */
/* SEARCH-ICON */
/* ******************** */
.icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: #838181;
  
  position: relative;
  top: 0.3rem;
  right: -5rem;
}

/* ******************** */
/* SEARCH-INPUT-FIELD */
/* ******************** */
.input {
  padding: 1.8rem 2.2rem 1.8rem 6rem;
  border: none;
  outline: none;
  border-radius: 1.6rem;
  width: 40rem;
  background-color: #dfdfdf;
  font-size: 2rem;
  color: #b2b0b0;
}

.input::placeholder {
  font-size: 2rem;
}

/* ******************** */
/* SEARCH-BUTTON */
/* ******************** */