* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 1px solid black;
}

:root {
  --primary-font: Arial;
  --secondary-font: cursive;
  --transition: all 200ms ease-in-out;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(34, 31, 31);
}